.h-35vh {
    max-height: 35vh;
    min-height: auto;
}

.mh-28rem {
    max-height: 28rem;
    min-height: auto;
}

.h-fit-content {
    height: fit-content;
}

.bookmark {
    bottom: 83%;
    right: 6%;
}