<div class="modal-content">
    <div class="modal-header">
        <h3>Select Your Favourite Genre</h3>
    </div>
    <div class="modal-body overflow-hidden">
        <div class="d-flex flex-column">
            <div class="d-flex flew-grow justify-content-end mb-3">
                <input type="text" placeholder="search for a genre" class="form-control w-50 position-relative" [(ngModel)]="searchText"/>
                <div class="position-absolute d-flex flew-grow flex-row-reverse">
                    <i class="bi bi-search fs-4 pt-1 pe-2 cursor-pointer"></i>
                </div>
            </div>
            <div class="d-flex flew-grow flex-column mb-3">
                <div class="d-flex flex-row align-items-center">
                    <h5 class="mb-0 mw-fit-content">Selected Genres:</h5>
                    <div class="d-flex pt-2 pb-2 overflow-auto">
                        <div *ngFor="let selectedGenre of selectedGenres" class="d-flex align-items-center outline-standard-style selectedGenre rounded-pill mw-fit-content mx-2">
                            <span class="mt-0 ps-3">{{selectedGenre.genre}}</span>
                            <div class="pe-2 h-2rem">
                                <i class="bi bi-x fs-4 cursor-pointer" (click)="selectedGenre.isSelected = !selectedGenre.isSelected; updateSelectedGenres()" (keydown)="selectedGenre.isSelected = !selectedGenre.isSelected; updateSelectedGenres()"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <span [ngClass]="selectedGenres.length < 3 ? 'visible' : 'invisible'" class="warningText d-flex mt-0">Please select atleast 3 genres<small class="d-contents">*</small></span>
            </div>
            <div class="d-flex align-items-center flex-wrap justify-content-between row-gap-4 column-gap-3 h-35vh p-3 outline-standard-style rounded-3 overflow-auto genreSelectionContainer">
                <ng-container *ngIf="(genres | genreSearchResult: searchText) as result">
                    <div *ngFor="let genre of result | genreSortResult" [ngClass]="genre.isSelected ? 'selectedGenre' : 'unSelectedGenre'" class="d-flex align-items-center outline-standard-style rounded-pill cursor-pointer" (click)="genre.isSelected = !genre.isSelected; updateSelectedGenres()" (keydown)="genre.isSelected = !genre.isSelected; updateSelectedGenres()">
                        <span class="mt-0 py-1 pe-2 ps-3">{{genre.genre}}</span>
                        <div class="pe-2">
                            <span [ngClass]="genre.isSelected ? 'selectedDot' : 'unSelectedDot'" class="mt-0 dot rounded-circle outline-standard-style"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center flew-grow mb-4" *ngIf="result.length === 0">
                        <span class="infoText fs-3">No results found!</span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="selectedGenres.length < 3" (click)="closeModal()">Next</button>
    </div>
</div>