<div class="d-flex">
    <div class="d-flex flex-column justify-content-center align-items-center flew-grow">
        <fieldset class="form-group p-3 border-double border-thin d-flex flex-column align-items-center">
            <legend class="float-none w-auto px-3 ms-auto me-auto">
                <h2>Create New Account</h2>
            </legend>
            <div class="d-flex flex-column align-items-center w-50 ms-3">
                <form [formGroup]="signUpForm">
                    <label for="Username" class="d-flex flex-column">Username<small class="d-contents">*</small>
                        <div>
                            <div class="d-flex position-relative">
                                <input [ngClass]="{'validInput': !signUpForm.get('Username')?.errors?.['minlength'] && !signUpForm.get('Username')?.errors?.['required'] && !signUpForm?.errors?.['usernameExists'] && signUpForm.get('Username')?.touched, 'inValidInput': (signUpForm.get('Username')?.errors?.['minlength'] || signUpForm.get('Username')?.errors?.['required'] || signUpForm.get('Username')?.errors?.['pattern'] || signUpForm?.errors?.['usernameExists']) && signUpForm.get('Username')?.touched}" id="Username" class="form-control" formControlName="Username" placeholder="Enter Your User Name" type="text" maxlength="20">
                                <div [ngClass]="signUpForm.get('Username')?.touched ? 'd-flex' : 'd-none'" class="position-absolute justify-content-end w-100 icon-styling">
                                    <div [ngClass]="{'d-flex bg-succes': !signUpForm.get('Username')?.errors?.['minlength'] && !signUpForm.get('Username')?.errors?.['required'] && !signUpForm?.errors?.['usernameExists'] && signUpForm.get('Username')?.touched, 'd-flex bg-warning': (signUpForm.get('Username')?.errors?.['minlength'] || signUpForm.get('Username')?.errors?.['required'] || signUpForm.get('Username')?.errors?.['pattern'] || signUpForm?.errors?.['usernameExists']) && signUpForm.get('Username')?.touched}" class="rounded-circle me-1">
                                        <i [ngClass]="{'bi-check': !signUpForm.get('Username')?.errors?.['minlength'] && !signUpForm.get('Username')?.errors?.['required'] && !signUpForm?.errors?.['usernameExists'] && signUpForm.get('Username')?.touched, 'bi-x': (signUpForm.get('Username')?.errors?.['minlength'] || signUpForm.get('Username')?.errors?.['required'] || signUpForm.get('Username')?.errors?.['pattern'] || signUpForm?.errors?.['usernameExists']) && signUpForm.get('Username')?.touched}" class="d-flex align-items-center justify-content-center bi fs-4 input-bg-tex-color"></i>
                                    </div>
                                </div>
                            </div>
                            <span class="infoText">Username should be at least 5 characters and may only contain alphanumeric characters</span>
                            <span class="warningText" *ngIf="signUpForm.get('Username')?.errors?.['pattern'] && signUpForm.get('Username')?.touched">Please enter a valid username!</span>
                            <span class="warningText" *ngIf="signUpForm.get('Username')?.errors?.['required'] && signUpForm.get('Username')?.touched">Please enter the username!</span>
                            <span class="warningText" *ngIf="signUpForm.get('Username')?.errors?.['minlength'] && signUpForm.get('Username')?.touched">Username must be aletast 5 characters long!</span>
                            <span class="warningText" *ngIf="signUpForm?.errors?.['usernameExists'] && signUpForm.get('Username')?.touched">Username already taken!</span>
                        </div>
                    </label>
                    <label for="Password" class="d-flex flex-column">Password<small class="d-contents">*</small>
                        <div  class="d-flex position-relative">
                            <input [ngClass]="{'validInput': !signUpForm.get('Password')?.errors?.['minlength'] && !signUpForm.get('Password')?.errors?.['required'] && signUpForm.get('Password')?.touched, 'inValidInput': (signUpForm.get('Password')?.errors?.['minlength'] || signUpForm.get('Password')?.errors?.['required'] || (signUpForm.get('ConfirmPassword')?.touched && signUpForm?.errors?.['passwordMismatch'] || signUpForm.get('Password')?.errors?.['pattern'])) && signUpForm.get('Password')?.touched}" id="Password" class="form-control pe-2rem" formControlName="Password" placeholder="Enter Password" type="password" maxlength="50"/>
                            <div class="d-flex justify-content-end align-items-center w-100 h-100 position-absolute cursor-text">
                                <i id="PasswordIcon" class="bi bi-eye-slash pe-2 fs-4 cursor-pointer" (click)="togglePasswordIcon('Password')" (keyDown)="togglePasswordIcon('Password')"></i>
                            </div>
                        </div>
                        <span  class="infoText">Password should be at least 8 characters including a number, an uppercase letter and a special character.</span>
                        <span class="warningText" *ngIf="signUpForm.get('Password')?.errors?.['pattern'] && signUpForm.get('Password')?.touched">Please enter a valid password!</span>
                        <span class="warningText" *ngIf="signUpForm.get('Password')?.errors?.['required'] && signUpForm.get('Password')?.touched">Please enter the password!</span>
                        <span class="warningText" *ngIf="signUpForm.get('Password')?.errors?.['minlength'] && signUpForm.get('Password')?.touched">Password must be atleast 8 characters long!</span>
                    </label>
                    <label for="ConfirmPassword"  class="d-flex flex-column">Confirm Password<small class="d-contents">*</small>
                        <div class="d-flex position-relative">
                            <input [ngClass]="{'validInput': !signUpForm.get('ConfirmPassword')?.errors?.['minlength'] && !signUpForm.get('ConfirmPassword')?.errors?.['required'] && signUpForm.get('ConfirmPassword')?.touched, 'inValidInput': (signUpForm.get('ConfirmPassword')?.errors?.['minlength'] || signUpForm.get('ConfirmPassword')?.errors?.['required'] || signUpForm?.errors?.['passwordMismatch']) && signUpForm.get('ConfirmPassword')?.touched}" id="ConfirmPassword" class="form-control pe-2rem" formControlName="ConfirmPassword" placeholder="Confirm Password" type="password" maxlength="50"/>
                            <div class="d-flex justify-content-end align-items-center w-100 h-100 position-absolute cursor-text">
                                <i id="ConfirmPasswordIcon" class="bi bi-eye-slash pe-2 fs-4 cursor-pointer" (click)="togglePasswordIcon('ConfirmPassword')" (keyDown)="togglePasswordIcon('ConfirmPassword')"></i>
                            </div>
                        </div>
                        <span class="warningText" *ngIf="signUpForm.get('ConfirmPassword')?.errors?.['required'] && signUpForm.get('ConfirmPassword')?.touched">Please enter the password!</span>
                        <span class="warningText" *ngIf="signUpForm?.errors?.['passwordMismatch'] && signUpForm.get('ConfirmPassword')?.touched">Passwords must match!</span>
                    </label>
                    <label for="Email" class="d-flex flex-column">Email<small class="d-contents">*</small>
                        <div class="d-flex position-relative">
                            <input id="Email" [ngClass]="{'validInput': !signUpForm.get('Email')?.errors?.['email'] && !signUpForm.get('Email')?.errors?.['required'] && !signUpForm?.errors?.['emailExists'] && signUpForm.get('Email')?.touched, 'inValidInput': (signUpForm.get('Email')?.errors?.['email'] || signUpForm.get('Email')?.errors?.['required'] || signUpForm?.errors?.['emailExists']) && signUpForm.get('Email')?.touched}" class="form-control" formControlName="Email" placeholder="Enter Your Email Address" maxlength="50"/>
                            <div [ngClass]="signUpForm.get('Email')?.touched ? 'd-flex' : 'd-none'" class="position-absolute justify-content-end w-100 icon-styling">
                                <div [ngClass]="{'d-flex bg-succes': !signUpForm.get('Email')?.errors?.['email'] && !signUpForm.get('Email')?.errors?.['required'] && !signUpForm?.errors?.['emailExists'] && signUpForm.get('Email')?.touched, 'd-flex bg-warning': (signUpForm.get('Email')?.errors?.['email'] || signUpForm.get('Email')?.errors?.['required'] || signUpForm?.errors?.['emailExists']) && signUpForm.get('Email')?.touched}" class="rounded-circle me-1">
                                    <i [ngClass]="{'bi-check': !signUpForm.get('Email')?.errors?.['email'] && !signUpForm.get('Email')?.errors?.['required'] && !signUpForm?.errors?.['emailExists'] && signUpForm.get('Email')?.touched, 'bi-x': (signUpForm.get('Email')?.errors?.['email']
                                    || signUpForm.get('Email')?.errors?.['required'] || signUpForm?.errors?.['emailExists']) && signUpForm.get('Email')?.touched}"
                                    class="d-flex align-items-center justify-content-center bi fs-4 input-bg-tex-color"></i>
                                </div>
                            </div>
                        </div>
                        <span class="warningText" *ngIf="signUpForm.get('Email')?.errors?.['required'] && signUpForm.get('Email')?.touched">Please enter a email address!</span>
                        <span class="warningText" *ngIf="signUpForm.get('Email')?.errors?.['email'] && signUpForm.get('Email')?.touched">Please Enter a valid email address!</span>
                        <span class="warningText" *ngIf="signUpForm?.errors?.['emailExists'] && signUpForm.get('Email')?.touched">Email Already registered! Please use a different Email</span>
                    </label>
                    <div class="d-flex flex-row-reverse justify-content-end align-items-center">
                        <label class="fs-6 mb-0" *ngIf="answersSubmitted?.favoriteGame?.length == 0"><a (click)="toggleSecurityQuestionsModal()" (keydown)="toggleSecurityQuestionsModal()">Answer Security Questions<small class="d-contents">*</small></a></label>
                        <label class="fs-6 mb-0" *ngIf="answersSubmitted?.favoriteGame?.length != 0"><a (click)="toggleSecurityQuestionsModal()" (keydown)="toggleSecurityQuestionsModal()">Review Answers</a></label>
                        <input type="checkbox" class="form-check-input pe-none me-2" [ngClass]="{'opacity-50': answersSubmitted?.favoriteGame?.length === 0}" id="SecurityQuestions" [checked]="answersSubmitted?.favoriteGame?.length != 0"/>
                    </div>
                </form>
            </div>
            <div class="w-50 ms-3 d-flex justify-content-end mt-4">
                <button class="btn btn-primary" type="submit" (click)="signUp()" [disabled]="!signUpForm.valid || answersSubmitted?.favoriteGame?.length == 0">Create New Account</button>
            </div>
        <div class="d-flex justify-content-end mt-4">
            <h5>Already have an acount? <a routerLink="/logIn">Log In here →</a></h5>
        </div>
        </fieldset>
    </div>
</div>

