:root {
    /* -All the Styles given below are for Light Mode- */

    /* -Background Color Variable- */
    --backgroundColor: var(--IvoryWhite);

    /* -Secondary Background Color Variable- */
    --secondaryBackgroundColor: var(--LightBrown);

    /* -Text Color Variable- */
    --textColor: var(--KindOfBrown);

    /* -Input Background Color Variable- */
    --inputBackgroundColor: var(--PureWhite);

    /* -Input Outline Variable- */
    --inputOutlineColor: var(--GoldenYellow);

    /* -Input Text Color Variable- */
    --inputTextColor: var(--KindOfBrown);

    /* -Button Background Color Variable- */
    --buttonBackgroundColor: var(--BrightGoldenYellow) ;

    /* -Button Text Color Variable- */
    --buttonTextColor: var(--PureBlack);

    /* -Button Highlight Color Variable- */
    --buttonHighlightColor: var(--KindOfBrown);

    /* -Link Text color Variable- */
    --linkTextColor: var(--KindOfBrown);

    /* -Link Hover color Variable- */
    --linkHoverColor: var(--GoldenYellow);

    /* -span infoText color Variable- */
    --infoTextColor: #72606091;

    /* -theme toggle button color - */
    --themeToggleButtonColor:  var(--PureBlack);

    /* -genre outline  color - */
    --genreOutlineColor: var(--PureBlack);

    /* -genre background color - */
    --genreBackgroundColor: var(--IvoryWhite);

    /* -genre Tab background color - */
    --genreTabBackgroundColor: var(--BrightGoldenYellow);

    /* -genre container outline  color - */
    --genreContainerOutlineColor: var(--GoldenYellow);

    /* -Styling Accross the WebApp- */  // not working!
    height: 100vh !important;
    width: 100vw !important;
    font-size: 1rem;
    font-family: "playfair-display", sans-serif !important;

    /* -Variables- */
    --IvoryWhite: #f4f1e7e8;
    --LightBrown: #cbae85;
    --KindOfBrown: #4a3f35;
    --GoldenYellow: #DAA520;
    --PureWhite: #ffffff;
    --PureBlack: #000000;
    --PrimaryDarkColor: #16191c;
    --SecondaryDarkColor: #383F47;
    --SuccessGreen: #45d803d9;
    --BrightGoldenYellow: #ffb600e8;
    --WarningRed: #ff0000;
}

/* -All the Styles given below are for Dark Mode- */

.dark-mode {
    /* -Background Color Variable- */
    --backgroundColor: var(--PrimaryDarkColor);

    /* -Secondary Background Color Variable- */
    --secondaryBackgroundColor: var(--SecondaryDarkColor);

    /* -Text Color Variable- */
    --textColor: var(--IvoryWhite);

    /* -Input Background Color Variable- */
    --inputBackgroundColor: var(--PureBlack);

    /* -Input Outline Variable- */
    --inputOutlineColor: var(--GoldenYellow);

    /* -Input Text Color Variable- */
    --inputTextColor: var(--IvoryWhite);

    /* -Button Background Color Variable- */
    --buttonBackgroundColor: var(--PureBlack) ;

    /* -Button Text Color Variable- */
    --buttonTextColor: var(--GoldenYellow);

    /* -Button Highlight Color Variable- */
    --buttonHighlightColor: var(--GoldenYellow);

    /* -Link Text color Variable- */
    --linkTextColor: var(--IvoryWhite);

    /* -Link Hover color Variable- */
    --linkHoverColor: var(--BrightGoldenYellow);

    /* -span infoText color Variable- */
    --infoTextColor: #989898bf;

    /* -theme toggle button color - */
    --themeToggleButtonColor: var(--PureWhite);

    /* -genre outline  color - */
    --genreOutlineColor: var(--SuccessGreen);

    /* -genre background color - */
    --genreBackgroundColor: var(--SecondaryDarkColor);

    /* -genre Tab background color - */
    --genreTabBackgroundColor: var(--SecondaryDarkColor);

    /* -genre container outline  color - */
    --genreContainerOutlineColor: var(--IvoryWhite);

    /* -Variables- */
    --SuccessGreen: #4fff00;
}

.modal-header, .modal-body, .modal-footer, .modal-content {
    background-color: var(--backgroundColor) !important;
    color: var(--textColor) !important;
}

body {
    background-color: var(--backgroundColor) !important;
    color: var(--textColor) !important;
    font-family: "playfair-display", sans-serif !important;
    height: 100vh !important;
    width: 100vw !important;
}


fieldset {
    border-radius: 15px !important;
    border-style: solid !important;
    border-width: thin !important;
    border-color: var(--inputOutlineColor) !important;
}

h1, h2, h3, h4, h5 {
    color: var(--textColor) !important;
}

a {
    @extend .cursor-pointer;
    text-decoration: underline !important;
    color: var(--linkTextColor) !important;
}

a:hover {
    text-decoration: none !important;
    color: var(--linkHoverColor) !important;
}

span {
    margin-top: 0.5rem !important;
    display: flex;
    font-size: 1rem;
    color: var(--textColor) !important;
}

span.infoText {
    color: var(--infoTextColor) !important;
}

span.warningText {
    color: var(--WarningRed) !important;
    display: flex;
    font-size: 1rem;
}

label {
    color: var(--textColor) !important;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

input {
    @extend .input-bg-color;
    @extend .input-text-color;
    @extend .outline-standard-style;
    border-radius: 5px;
    border: 0 !important;
    outline-color: var(--inputOutlineColor) !important;
    margin-top: 0.125rem !important;
}

input::placeholder {
    @extend .input-text-color;
    font-size: 1rem !important;
}

input[type="checkbox"]:checked {
    @extend .bg-succes;
}

input.validInput {
    @extend .outline-standard-style;
    outline-color: var(--SuccessGreen) !important;
}

input.validInput:focus {
    box-shadow: var(--SuccessGreen) 0px 0px 0.2rem 0.1rem !important;
}

input.inValidInput {
    @extend .outline-standard-style;
    outline-color: var(--WarningRed)  !important;
}

.outline-standard-style {
    outline-width: thin !important;
    outline-style: solid !important;
}

input.inValidInput:focus {
    box-shadow: var(--WarningRed) 0px 0px 0.2rem 0.1rem !important;
}

input:focus {
    box-shadow: var(--inputOutlineColor) 0px 0px 0.2rem 0.1rem !important;
}

input:active {
    box-shadow: var(--inputOutlineColor) 0px 0px 0.2rem 0.1rem !important;
}

button {
    border-radius: 5px;
    background-color: var(--buttonBackgroundColor) !important;
    border: 0 !important;
    color: var(--buttonTextColor) !important;
}

:root.dark-mode button {
    border-style: solid !important;
    border-width: thin !important;
    border-color: var(--buttonHighlightColor) !important;
}

button:hover {
    background-color: var(--buttonBackgroundColor) !important;
    border-color: var(--buttonHighlightColor) !important;
    box-shadow: var(--buttonHighlightColor) 0px 0px 0.2rem 0.1rem !important;
    color: var(--buttonTextColor) !important;
}

p {
    font-size: 13px;
}

hr{
    margin:0;
    height:0;
    width:85px;
    border:0;
    border-bottom:1px solid;
}

.starRatings {
    transition: transform 300ms ease-in-out;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.starRatings:hover {
    transform: scale(1.2);
}

.headerClass {
    @extend .secondary-bg-color;
    height: 7vh !important;
}

.footerClass {
    @extend .secondary-bg-color;
    height: 4vh !important;
    box-shadow: 0 0 6px #ffffff40 !important;
}

.bg-succes {
    background-color: var(--SuccessGreen) !important;
}

.bg-warning {
    background-color: var(--WarningRed) !important;
}

.input-text-color {
    color: var(--inputTextColor) !important;
}

.input-bg-color {
    background-color: var(--inputBackgroundColor) !important;
}

.input-bg-tex-color {
    color: var(--inputBackgroundColor) !important;
}

.f-12 {
    font-size: 12px !important;
}

.flew-grow {
    flex-grow: 1;
}

.f-4rem {
    font-size: 4rem !important;
}

.width-devkit-available {
    width: -webkit-fill-available !important;
}

.d-contents {
    display: contents !important;
}

.secondary-bg-color {
    background-color: var(--secondaryBackgroundColor) !important;
}

.nav-link {
    transition: background-color 0.5s ease, border-color 0.5s ease, transform 3s ease;
}

.nav-link.active {
    color: var(--textColor) !important;
    background-color: var(--genreTabBackgroundColor) !important;
    border-color: var(--PureBlack) !important;
}

a.nav-link:not(.active):hover {
    border-color: var(--GoldenYellow) !important;
}

.custom-modal-width .modal-dialog {
    max-width: 1843px;
}

.custom-modal-width .modal-content {
    min-height: 85%;
}

.component-host-scrollable, .modal-content { 
    flex-grow: 1;
}

.cursor-text {
    cursor: text !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.blur-background {
    backdrop-filter: blur(15px) !important;
}

.h-2rem {
    height: 2rem;
}

.mw-fit-content {
    min-width: fit-content !important;
}

/* -Genre Buttons Stylings- */

// .dot {
//     width: 12px;
//     height: 12px;
// }

.dot {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%; 
    box-shadow: 0 0 0 3px transparentize(#5b96d5, 0.8);
    background-color: #5b96d5;
    margin-right: 6px;
}

.selectedDot {
    background-color: var(--SuccessGreen);
}

.unSelectedDot {
    box-shadow: 0px 0px 3px 0.5px black;
    background-color: white;
}

.selectedGenre {
    outline-color: var(--genreOutlineColor);
    background-color: var(--buttonBackgroundColor);
}

.unSelectedGenre {
    box-shadow: 2px 2px 4px 1px var(--buttonTextColor);
    outline-color: var(--buttonTextColor);
    background-color: var(--genreBackgroundColor);
}

.dark-mode .unSelectedGenre {
    box-shadow: none !important;
    outline: none !important;
}

.dark-mode .nav-tabs {
    border-color: var(--SecondaryDarkColor) !important;
}

.genreSelectionContainer {
    outline-color: var(--genreContainerOutlineColor);
}

/* -Genre Buttons Stylings- */

/* -Theme Toggle Stylings- */

.lablefortogggle {
	background-color: var(--backgroundColor) !important;
	border-radius: 50px;
    border-style: double;
	transform: scale(1.5);
}

.lablefortogggle .ball {
	background-color: var(--themeToggleButtonColor) !important;
	border-radius: 50%;
	height: 19.5px;
	width: 19.5px;
	transform: translateX(-4px);
	transition: transform 0.2s linear;
}

.toggleCheckbox:checked + .lablefortogggle .ball {
	transform: translateX(20px);
}

/* -Theme Toggle Stylings- */

/* -Spinner Stylings- */

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

.top-left-50 {
    top: 50% !important;
    left: 50% !important;
    z-index: 25;
}

/* -Spinner Stylings- */